/*
    app.less
 */

html, body {
    height: 100%;
    font-size: @font-size;
}

body {
    margin: 0;
    padding: 0;
    font-family: @font-family;
}

.masthead {
    height: @masthead-height;
    @media (max-width: @mobile-break) {
        height: 90px;
    }
    .pointing.menu {
        width: 100%;
        height: @masthead-height;
        @media (max-width: @mobile-break) {
            height: 90px;
        }
        background-image: url('../images/sunset.png') !important;
        background-size: 100% 100%;
    }
    .left.menu {
        padding: 130px 0 0 20px;
        @media (max-width: @mobile-break) {
            padding: 60px 0 0 10px;
        }
    }
    .right.menu {
        padding: 130px 20px 0 0;
        @media (max-width: @mobile-break) {
            padding: 60px 10px 0 0;
        }
    }
    a.logo {
        position: absolute;
        top: 30px;
        left: 36px;
        color: white;
        font-size: 3rem !important;
        @media (max-width: @mobile-break) {
            top: 1rem;
            left: 26px;
            font-size: 2.8rem !important;
        }
    }
    .description {
        position: absolute;
        top: 68px;
        left: 36px;
        @media (max-width: @mobile-break) {
            left: 26px;
            visibility: hidden; 
        }
        display: inline-block;
        color: white;
        font-size: 1.0rem;
    }
    a.item {
        a {
            margin: 0;
            color: white;
            font-size: 1.5em;
        }
    }
}

.content {
	min-height: 100%;
    background: white;
    position: relative;
    .blog {
        .home {
            font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
            font-family: 'Julius Sans One', sans-serif;
            color: @gray-light;
        }
        .post {
            margin-top: 1.25em;
            @media (max-width: @mobile-break) {
                margin-top: 0;
            }
            @media (min-width: @mobile-break) {
                margin-right: 310px;
            }
            .summary {
                h1 {
                    a {
                        font-size: 3.0rem;
                        @media (max-width: @mobile-break) {
                            font-size: 2.0rem;
                        }
                        color: rgba(0, 0, 0, 0.8);
                    }
                    a:hover {
                        color: @link-color;
                    }
                    margin-bottom: 1rem;
                    @media (max-width: @mobile-break) {
                        line-height: 2.5rem;
                        margin-bottom: 1rem;
                    }
                }
                h5 {
                    font-size: 1.5rem !important;
                }
                padding: 0 0 2em 0;
                margin-bottom: 1em;
                border-bottom: 1px dotted @border-light;
                .read {
                    padding-top: 2em;
                    clear: both;
                }
                ul {
                    list-style-position: inside;
                    li {
                        padding-bottom: 0.5rem;
                    }
                }
            }
            .archives {
                padding-top: 1.5em;
                a {
                    font-size: 1.25em;
                    color: @gray-lighter;
                }
            }
            time {
                font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
                font-size: 1.2em;
                text-transform: uppercase;
                color: @gray-lighter;
                display: block;
            }
            h1 {
                margin-bottom: 1.5rem;
                font-size: 3.0rem;
                @media (max-width: @mobile-break) {
                    font-size: 2.0rem;
                    line-height: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
            h3 {
                font-size: 1.3em;
                font-weight: bold;
            }
            h1, h2, h3 {
                clear: both;
            }
            h5 {
                    font-size: 1.5rem !important;
            }
            p {
                vertical-align: baseline;
            }
            ul {
                list-style-position: inside;
                padding-left: 1.2rem;
                li {
                    padding-bottom: 0.5rem;
                }
            }
            blockquote {
                margin-top: 0 ;
            }
            img {
                clear: both;
                @media (min-width: @mobile-break) {
                    margin: 0 30px 30px 0;
                    float: left;
                    width: 100%;
                }
                max-width: 100%;
                @media (max-width: @mobile-break) {
                    float: none;
                    width: 100% !important;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
            img.lead {
                @media (min-width: @mobile-break) {
                    width: 70%;
                }
            }
            .summary img.lead {
                @media (min-width: @mobile-break) {
                    width: 50%;
                }
            }
            img.vsmall {
                @media (min-width: @mobile-break) {
                    width: 33%;
                }
            }
            img.small {
                @media (min-width: @mobile-break) {
                    width: 50%;
                }
            }
            img.third {
                @media (min-width: @mobile-break) {
                    width: 40%;
                }
            }
            img.medium {
                @media (min-width: @mobile-break) {
                    width: 70%;
                }
            }
            img.right {
                float: right !important;
                margin: 0 0px 30px 30px;
            }
            footer {
                clear: both;
                font-size: 0.9em;
                .byline {
                    padding: 2em 0 1em 0;
                    margin-bottom: 0.5em;
                    border-bottom: 1px dotted @border-light;
                    .date {
                        &::before, &::after {
                            content: "\2022 ";
                            padding: 0 .4em 0 .2em;
                            display: inline-block;
                        }
                    }
                }
            }
            .social {
                padding: 0.4em 0 0em 0;
                border-bottom: 1px dotted @border-light;
                iframe {
                    border: none;
                    height: 2em;
                }
            }
            .comments {
                h2 {
                    margin-top: 0.5em;
                }
                .comment {
                    padding: 1em;
                    margin-bottom: 1em;
                    background: #eee;
                    .comment-date {
                        margin-top: 1rem;
                        font-size: 0.8rem;
                    }
                }
            }
            #comment {
                margin-top: 1em;
            }
        }
        .page {
            padding: 2rem 3.0rem;
            @media (max-width: @mobile-break) {
                padding: 1rem 1rem;
            }
            i.massive {
                font-size: 6.0rem;
            }
            padding-bottom: 2em;
            .radio {
                margin: 0 1em 0 .2em;
            }
        }
        .ui.page .archive {
            @media (min-width: @mobile-break) {
                margin-right: 310px;
            }
        }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
        }

        .video {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            margin-bottom: 1rem;
        }
        .video iframe,
        .video object,
        .video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .sidebar {
            position: fixed;
            top: 180px;
            right: 0;
            left: auto;
            height: 100%;
            width: 280px;
            padding: 1.3rem;
            padding-bottom: 200px;
            overflow-y: auto;
            z-index: 102;
            box-shadow: 0px 0px 20px rgba(39, 41, 43, 0.15);

            font-size: 0.85rem;
            h3 {
                font-size: 1.0rem;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.5);
                margin: 1.3rem 0 0.7rem 0;
                border-bottom: 1px solid @gray-lightest;
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 0.4em;
                }
            }
            p {
                line-height: 1.2rem;
            }
            div.search {
                #search {
                    pointer-events: all !important;
                    cursor: pointer;
                }
                .query {
                    margin-right: 1rem;
                }
                .rss {
                    vertical-align: middle;
                    float: right;
                    margin-top: 0.6rem;
                }
            }
            .about {
                img {
                    padding-bottom: 1rem;
                }
                p.slogan {
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
        }
        &::-webkit-scrollbar {
            width: 0px !important;
        }
        .categories {
            padding: 1em;
            table {
                border-collapse: collapse;
                border: 1px solid @border-light;
                tr.post {
                    td {
                        border: 1px solid @border-light;
                        padding: 1em;
                    }
                    a {
                        color: darken(@link-color, 9%);
                    }
                    .year {
                        font-size: 1.4em;
                        color: @gray-light;
                        vertical-align: middle;
                    }
                    .date {
                        white-space: nowrap;
                        color: @gray-light;
                        text-transform: uppercase;
                        vertical-align: middle;
                    }
                    .title {
                        font-size: 1.4em;
                        vertical-align: middle;
                    }
                    .posted {
                        padding: 0.5em 0 0.3em 0;
                        color: @gray-light;
                    }
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: #5070a0;
}

#login, .clickable, [onclick] {
    cursor: pointer;
}

@media (min-width: @mobile-break) {
    .width-10 { width: 10% !important; }
    .width-20 { width: 20% !important; }
    .width-30 { width: 30% !important; }
    .width-40 { width: 40% !important; }
    .width-50 { width: 50% !important; }
    .width-60 { width: 60% !important; }
    .width-70 { width: 70% !important; }
    .width-80 { width: 80% !important; }
    .width-90 { width: 90% !important; }
    .width-100 { width: 100% !important; }
}

//  Desktop
@media (min-width: @mobile-break) {
    .mobile-only {
        display:none !important;
    }
    .desktop-only {
        // display:block !important;
    }
}

//  Mobile
@media (max-width: @mobile-break) {
    .mobile-only {
        // display:block !important;
    }
    .desktop-only {
        display:none !important;
    }
}

@media (min-width: @mobile-break) {
    [class*="desktop only"] {
        // display:block !important;
    }
}

@media (max-width: @mobile-break) {
    [class*="mobile only"] {
        // display:block !important;
    }
    [class*="desktop only"] {
        display:none !important;
    }
}

.clearfix {
    float: none !important;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
    clear: both !important;
}
